<section class="home" id="home">
    <div class="text">
      <h1><span>Looking</span> to <br>rent a car</h1>
      <p>Explore our diverse car rental options, from compact cars to spacious SUVs. <br> Enjoy hassle-free booking and flexible pickup locations. Discover the freedom of the open road with our reliable vehicles. Start your adventure today!</p>
      <div class="app-stores">
        <img src="/assets/images/ios.png" alt="">
        <img src="/assets/images/play.png" alt="">
      </div>

      <div class="form-container">
        <form action="">
          <div class="input-box">
            <span>Location</span>
            <input type="search" name="" id="" placeholder="Search Places">
          </div>
          <div class="input-box">
            <span>Pick-Up Date</span>
            <input type="date" name="" id="">
          </div>
          <div class="input-box">
            <span>Return Date</span>
            <input type="date" name="" id="">
          </div>
          <input type="submit" name="" id="" class="btn">
        </form>
      </div>
    </div>
</section>