<h2 class="text-center text-bg-dark">Model List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Brand ID</th>
            <th>Brand Name</th>
            <th>Model Name</th>
            <th>Created Date</th>
            <th>Updated Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let model of models">
            <td> {{model.id}} </td>
            <td> {{model.brandId}} </td>
            <td> {{model.brandName}} </td>
            <td> {{model.name}} </td>
            <td> {{model.createdDate}} </td>
            <td> {{model.updatedDate}} </td>
             <td> 
                <button
                    (click)="updateModelById(model.id)"
                    class="btn btn-info"> Update </button>
                <button
                    (click)="deleteModelById(model.id)"
                    class="btn btn-danger"
                    style="margin-left: 10px;"> Detele </button>
                <button 
                    (click)="modelDetails(model.id)" 
                    class="btn btn-warning"
                    style="margin-left: 10px"> View </button>
            </td>
        </tr>
    </tbody>
</table>

<h2 class="text-center text-bg-danger">Total Models: {{modelCount}} </h2>