<section class="reviews" id="reviews">
    <div class="heading">
        <span>Reviews</span>
        <h1>Whats Our Customer Say</h1>
    </div>

    <div class="reviews-container">

        <div class="box">
            <div class="rev-img">
                <img src="assets/images/rev1.jpg" alt="">
            </div>
            <h2>Mehmet Duman</h2>
            <div class="stars">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star-half'></i>
            </div>
            <p>I’ve used several car rental services, but Quadriga stands out for its exceptional customer service. The staff was friendly, answered all my questions, and made sure I had a reliable vehicle. Will definitely rent from them again.</p>
        </div>

        <div class="box">
            <div class="rev-img">
                <img src="assets/images/rev2.jpg" alt="">
            </div>
            <h2>Emre Esnemez</h2>
            <div class="stars">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star-half'></i>
            </div>
            <p>I’ve used several car rental services, but Quadriga stands out for its exceptional customer service. The staff was friendly, answered all my questions, and made sure I had a reliable vehicle. Will definitely rent from them again.</p>
        </div>

        <div class="box">
            <div class="rev-img">
                <img src="assets/images/rev3.jpg" alt="">
            </div>
            <h2>Birgül Kurtçu</h2>
            <div class="stars">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star-half'></i>
            </div>
            <p>As a frequent traveler, I rely on rental cars quite often. Quadriga consistently provides well-maintained vehicles. No surprises, no hidden fees—just reliable cars. Plus, their pickup and drop-off process is hassle-free. Five stars!</p>
        </div>
        
    </div>
</section>