<div class="container px-3">
    <div class="row">
        <div class="col">
            <h1 class="text-center text-bg-danger bg-dark bg-gradient"> Tranmission Type List </h1>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Created Date</th>
                        <th>Updated Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transmissiontype of transmissiontypes">
                        <td> {{transmissiontype.id}} </td>
                        <td> {{transmissiontype.type}} </td>
                        <td> {{transmissiontype.createdDate}} </td>
                        <td> {{transmissiontype.updatedDate}} </td>
                        <td>
                            <button (click)="updateTransmissionTypeById(transmissiontype.id)" class="btn btn-info"> Update </button>
                            <button (click)="deleteTransmissionTypeById(transmissiontype.id)" class="btn btn-danger"
                                style="margin-left: 10px;"> Detele </button>
                            <button (click)="transmissiontypeDetails(transmissiontype.id)" class="btn btn-warning" style="margin-left: 10px">
                                View </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h2 class="text-center text-bg-danger bg-dark bg-gradient">Total Tranmission Types: {{transmissiontypeCount}} </h2>
            <div class="text-center" style="margin-top: 20px;">
                <button class="btn btn-primary btn-lg" (click)="redirectToCreateTransmissionType()">ADD NEW TRANSMISSION TYPE</button>
            </div>
        </div>
    </div>