<div class="col-md-6 offset-md-3">
    <h3>Create Model</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Model Name</label>
            <input 
            type="text" 
            class="form-control"
            id="name"
            [(ngModel)]="model.name"
            name="name"
            required>
        </div>
        <div class="form-group">
            <label for="brandId">Brand</label>
            <select id="brandId" [(ngModel)]="model.brandId" name="brandId" class="form-control" required>
                <option *ngFor="let brand of brands" [value]="brand.id"> {{ brand.name }} </option>
            </select>
        </div>
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
</div>
