.navbar {
//  background: rgba($color: #ced0d33a, $alpha: 1.0);
//  background: transparent;
//  background: rgba($color: #7795A4, $alpha: 1.0);
background: rgba($color: #dfe2e2, $alpha: 1);

  padding: 1.5rem 1rem;
  transition: background 0.3s ease-in-out;
  margin-bottom: 20px;

/*   &-scrolled {
    background: rgba(0, 0, 0, 0.7);
  }
 */
  .nav-link {
    font-size: 1.2rem; // Adjust the font size for navbar links
  }

  .navbar-brand {
    font-size: 1.5rem; // Adjust the font size for the brand name
  }
}

.nav-button {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.2rem; // Adjust the font size for the buttons
}
