html {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
  }
}

section {
  padding: 50px 100px;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #eeeff1;
  padding: 15px 100px;
}

.logo img {
  width: 40px;
}

.navbar {
  display: flex;

  li {
    position: relative;
  }

  a {
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;

    &::after {
      content: '';
      width: 0;
      height: 3px;
      background: var(--gradient);
      position: absolute;
      bottom: -4px;
      left: 0;
      transition: 0.5s;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

.header-btn {
  a {
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;

    &.sign-in {
      background: #474fa0;
      color: #fff;
      border-radius: 0.5rem;

      &:hover {
        background: var(--main-color);
      }
    }
  }
}
