<section class="ride" id="ride">
    <div class="heading">
        <span>How Its Work</span>
        <h1>Rent With 3 Easy Steps</h1>
    </div>
    <div class="ride-container">
        <div class="box">
            <i class='bx bxs-map'></i>
            <h2>Choose A Location</h2>
            <p>Explore our wide range of locations and find the perfect car to suit your needs. From bustling cities to scenic countryside, our convenient pickup points await. Let the journey begin!</p>
        </div>

        <div class="box">
            <i class='bx bxs-calendar-check'></i>
            <h2>Pick-Up Date</h2>
            <p>Choose your preferred date for picking up your rental car. Our flexible options ensure you find the perfect time to start your journey! Choose the ideal time to start your trip!</p>
        </div>

        <div class="box">
            <i class='bx bxs-calendar-star'></i>
            <h2>Book A Car</h2>
            <p>Reserve your vehicle now and experience the freedom of the open road. Our friendly team is here to assist you every step of the way. Enjoy great rates and excellent service with us!</p>
        </div>
    </div>
</section>