/* You can add global styles to this file, and also import other style files */
/* styles.css veya styles.scss */
.navbar-brand {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333; /* Yazı rengini değiştirin */
    text-transform: uppercase; /* Harfleri büyük yapın */
    letter-spacing: 1px; /* Harfler arası boşluk ekleyin */
  }


/* body {
    font-family: 'Roboto Slab', serif;
    font-size: 16px; 
    color: #333; 
  }
   */
  
  
  