<!-- <app-home-layout></app-home-layout> -->

<app-panel></app-panel>










<!-- 
 <div class="page-wrapper">

    <aside class="menu-sidebar d-none d-lg-block">
      <div class="logo">
        <a href="#">
        <img src="/assets/logo2.png" width="50" height="50" alt="logo" class="img-responsive">
        </a>
      </div>
    
      <app-car-category-menu></app-car-category-menu>
      
    </aside>

     
  
    <div class="page-container">

        <app-navbar></app-navbar>


      <router-outlet> </router-outlet>
  
  
      
  
    </div>
  </div>

  
  <app-footer></app-footer>

 -->