<section class="about" id="about">
    <div class="heading">
        <span>About US</span>
        <h1>Best Customer Experience</h1>
    </div>
    <div class="about-container">
        <div class="about-img">
            <img src="assets/images/about.png" alt="">
        </div>
        <div class="about-text">
            <span>About Us</span>
            <p>Welcome to Quadriga!</p>
            <p>Quadriga, your trusted partner for all your car rental needs. With years of experience in the industry, we pride ourselves on providing top-quality vehicles and exceptional customer service. Our extensive fleet includes a wide range of options, from compact cars perfect for city driving to spacious SUVs and luxury vehicles for those special occasions. Whether you're planning a family vacation, a business trip, or simply need a reliable car for daily use, we have the perfect vehicle to suit your needs.</p>
            <p>At Quadriga, our friendly and knowledgeable team is dedicated to ensuring a seamless rental experience from start to finish. We offer flexible rental plans, competitive rates, and convenient pickup and drop-off locations to make your journey as smooth as possible. Trust us to deliver the freedom and flexibility you need to explore the open road. Let us be a part of your journey today!</p>     
            <a href="#" class="btn">Learn More</a>
        </div>
    </div>
</section>