<div class="container px-3">
    <div class="row">
        <div class="col">
            <h1 class="text-center text-bg-danger bg-dark bg-gradient"> Color List </h1>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Created Date</th>
                        <th>Updated Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let color of colors">
                        <td> {{color.id}} </td>
                        <td> {{color.name}} </td>
                        <td> {{color.createdDate}} </td>
                        <td> {{color.updatedDate}} </td>
                        <td>
                            <button (click)="updateColorById(color.id)" class="btn btn-info"> Update </button>
                            <button (click)="deleteColorById(color.id)" class="btn btn-danger"
                                style="margin-left: 10px;"> Detele </button>
                            <button (click)="colorDetails(color.id)" class="btn btn-warning" style="margin-left: 10px">
                                View </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h2 class="text-center text-bg-danger bg-dark bg-gradient">Total Colors: {{colorCount}} </h2>
            <div class="text-center" style="margin-top: 20px;">
                <button class="btn btn-primary btn-lg" (click)="redirectToCreateColor()">ADD NEW BRAND</button>
            </div>
        </div>
    </div>