/* Tablo satırlarını ortala */
.table {
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Tablo başlıklarını ortala */
  .table thead th {
    text-align: center;
  }
  
  /* Tablo verilerini ortala */
  .table tbody td {
    text-align: center;
  }
  
  