<h3> View Car Details </h3>
<div>
    <div>
        <label><b>Car ID:</b></label> {{car.id}}
        <label><b>Car Availability:</b></label> {{car.available}}
        <label><b>Car Year:</b></label> {{car.year}}
        <label><b>Car Seating Capacity:</b></label> {{car.seatingCapacity}}
        <label><b>Car Plate:</b></label> {{car.plate}}
        <label><b>Car Description:</b></label> {{car.description}}
        <label><b>Car Price:</b></label> {{car.price}}
        <label><b>Created Date:</b></label> {{car.createdDate}}
        <label><b>Created Updated Date:</b></label> {{car.createdDate}}



    </div>
</div>