<div class="container px-3">
    <div class="row">
        <div class="col">
            <h1 class="text-center text-bg-danger bg-dark bg-gradient"> FuelType List </h1>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Created Date</th>
                        <th>Updated Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let fueltype of fueltypes">
                        <td> {{fueltype.id}} </td>
                        <td> {{fueltype.type}} </td>
                        <td> {{fueltype.createdDate}} </td>
                        <td> {{fueltype.updatedDate}} </td>
                        <td>
                            <button (click)="updateFuelTypeById(fueltype.id)" class="btn btn-info"> Update </button>
                            <button (click)="deleteFuelTypeById(fueltype.id)" class="btn btn-danger"
                                style="margin-left: 10px;"> Detele </button>
                            <button (click)="fueltypeDetails(fueltype.id)" class="btn btn-warning" style="margin-left: 10px">
                                View </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h2 class="text-center text-bg-danger bg-dark bg-gradient">Total FuelTypes: {{fueltypeCount}} </h2>
            <div class="text-center" style="margin-top: 20px;">
                <button class="btn btn-primary btn-lg" (click)="redirectToCreateFuelType()">ADD NEW FUEL TYPE</button>
            </div>
        </div>
    </div>